:root {
    --black: #000000;
    --beige: #9c9999;
    --lightbeige: #ddddc5;
    --red: #611428;
    --darkred: #611428b7;
    --shadow: 2px 2px 2px;
    --none: 0px;
    --one: 1px;
    --five: 5px;
    --ten: 10px;
    --fifteen: 15px;
    --twenty: 20px;
    --thirty: 30px;
    --fifty: 50px;
    --sixty: 60px;
    --seventy: 70px;
    --ninty: 90px;
    --hundred: 100px;
    --hundredfifty: 150px;
    --twohundred: 200px;
    --threehundred: 300px;
    --nopercent: 0%;
    --halfpercent: 50%;
    --fullpercent: 100%; 
}

html {
    background: url(../images/alex-avalos-dnUNjIUCg5c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    min-height: var(--fullpercent);
    min-width: fit-content;
    background-color: var(--lightbeige);
}

h1, h2 {
    font-family: 'Lora', serif;
    font: bold;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    text-shadow: var(--shadow) var(--beige);
    color: var(--black);
}

p {
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    padding: var(--none) var(--sixty);
    text-shadow: none;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.genre, .price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: var(--thirty);
    margin-left: var(--thirty);
    margin-right: var(--thirty);
}

.hobbs, .godzilla, .batman,
.toy-story, .addams, .sweetheart, .hollywood, .scream {
    max-width: var(--hundred);
    margin: var(--none);
    box-shadow: var(--shadow) var(--beige);
}

.genreButton {
    text-align: left;
    padding-left: var(--fifteen);
    margin: var(--five) var(--none);
    font-family: 'Lora', serif;
    font: bold;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    text-shadow: var(--shadow) var(--beige);
    color: var(--black);
    text-decoration: none;
}

.cta {
    background-color: var(--red);
    color: var(--lightbeige);
    font-family: 'Lora', serif;
    border-radius: var(--fifty);
    width: var(--hundred);
    padding: var(--ten);
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    border: none;
    box-shadow: var(--shadow) var(--beige);
    margin-bottom: var(--ten);
    cursor: pointer;
}

.cta_tall {
    padding-top: var(--ten);
    padding-bottom: var(--ten);
    box-shadow: var(--shadow) var(--beige);
}

.long {
    align-self: center;
    width: var(--twohundred);
    margin: var(--five);
}

nav {
    margin-top: var(--fifty);
}

.back {
    background-image: url(../images/Arrow\ 6.png);
    background-repeat: no-repeat;
    background-position: var(--five);
}

.logo {
    max-width: var(--hundredfifty);
    padding: var(--none);
}

ul a {
    font-family: 'DM Sans', sans-serif;
    color: var(--black);
    text-shadow: var(--shadow) var(--beige);
    text-decoration: var(--none);
}

a {
    text-decoration: var(--none);
    align-self: center;
}

.centered {
    align-self: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--nopercent);
    margin-bottom: var(--none);
}

.active, .bold {
    font-weight: bold;
}

.allproducts {
    display: flex;
    flex-direction: row;
}

.poster {
    max-width: var(--halfpercent);
    max-height: var(--halfpercent);
    padding: 95px;
    padding-top: var(--twenty);
    padding-bottom: var(--twenty);
    align-self: center;
}

.checkmark {
    height: var(--seventy);
    width: var(--seventy);
    align-self: center;
}

.checkout_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--five);
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.index {
    text-align: left;
    padding-left: var(--fifteen);
    margin: var(--five) var(--none);
}

.continue {
    text-align: center;
    padding: var(none);
    margin: var(--twenty);
}

.congratulations {
    color: var(--red);
    font-size: xx-large;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.director_photo {
    display: flex;
    align-self: center;
}

input, textarea  {
    margin-bottom: var(--five);
    border-radius: var(--twenty);
    background-color: var(--lightbeige);
    border: none;
    height: 25px;
}

.checkout_form {
    margin-bottom: var(--fifteen);
    color: var(--beige);
}

.contact_form {
    padding: var(--ten);
}

.contact_form_space {
    margin-bottom: var(--thirty);
}

.place-text {
    height: var(--sixty);
    padding: var(--ten);
}

.submit_form_space {
    padding: var(--ten);
    margin-top: var(--twenty);
    margin-bottom: var(--sixty);
}

.small_form {
    display: flex;
    flex-direction: row;
    align-self: center space-evenly;
    width: fit-content;
}

.small_form_left {
    margin-right: 2px;
}

.small_form_right {
    margin-left: 2px;
}

.paypal {
    width: 80px;
    height: var(--sixty);
    border-radius: var(--ninty);
    display: flex;
    align-self: center;
    background-image: url(../images/paypal_button.png);
    background-repeat: no-repeat;
    background-position: var(--halfpercent);
}

.paypal_button {
    border-radius: var(--ninty);
    display: flex;
    flex-direction: column;
    background-color: var(--lightbeige);
    align-self: center;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    padding: var(--five) var(--none);
}

.paypal_button_text {
    text-align: center;
    margin: var(--none) var(--thirty);
    padding: var(--none);
}

.paypal_button_logo {
    width: var(--thirty);
    align-self: center;
}

.product_text {
    margin-top: var(--one);
    margin-bottom: var(--one);
}

.hide_small, .hide_price {
    display: none;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    position: sticky;
    bottom: var(--nopercent);
    left: var(--nopercent);
    width: var(--fullpercent);
    background: var(--lightbeige);
}

.error {
    border: 2px solid rgb(255, 0, 0);
    padding: 1rem;
    color: rgb(139, 0, 0);
    background: var(--darkred);
    display: flex;
    flex-wrap: wrap;
}

.success {
    background: rgb(109, 173, 13);
    padding: 7px;
    margin: 5px;
    color: #101f02b7;
    border-radius: 5px;
}

.no-requirement {
    background: rgba(219, 37, 34, 0.629);
    padding: 7px;
    margin: 5px;
    color: #1b0101b7;
    border-radius: 5px;
}

#searchbar {
    align-self: var(--none);
}

@media (min-width: 200px) and (max-width: 400px) {
    .collections {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        }

    .hide_mini {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: var(--halfpercent);
    }

    .small_form_left, .small_form_right {
        width: var(--halfpercent);
    }
}

@media (min-width: 600px) and (max-width: 999px) {

    .poster {
        width: 250px;
    }

    .index {
        margin-left: 40px;
    }

    .hobbs, .godzilla, .batman,
    .toy-story, .addams, .sweetheart, .hollywood, .scream {
    max-width: var(--hundredfifty);
    margin: var(--none);
    }

    .logo {
    max-width: var(--twohundred);
    padding: var(--none);
    }

    .hide_small, .hide_price {
        display: block;
    }

    .collection {
        height: var(--hundredfifty);
    }

    p {
        padding: var(--none) var(--hundred);
    }

    .cta {
    padding: var(--ten);
    }

    nav {
        font-size: x-large;
    }
    
}

@media (min-width: 1000px) {

    .poster {
        width: 250px;
    }

    .index {
        margin-left: var(--ninty);
    }

    .logo {
        max-width: 250px;
        padding: var(--none);
    }

    .hobbs, .godzilla, .batman,
    .toy-story, .addams, .sweetheart, .hollywood, .scream {
    opacity: 1;
    max-width: var(--twohundred);
    margin: var(--none);
    }
    
    .hide_small, .hide_price {
        display: block;
    }

    .collection {
        height: var(--twohundred);
        width: var(--threehundred);
        opacity: 1;
    }

    p {
        padding: var(--none) var(--twohundred);
    }

    .cta {
    padding: var(--ten);
    }

    .cta:hover {
    background-color: var(--darkred);
    }

    a:hover {
        text-shadow: var(--one) var(--one) 3px var(--beige);
    }

    .hobbs:hover, .godzilla:hover, .batman:hover,
    .toy-story:hover, .addams:hover, .sweetheart:hover, 
    .hollywood:hover, .scream:hover, .collection:hover, .logo:hover {
        opacity: 0.5;
    }

    .logo, .paypal_button {
        opacity: 1;
    }

    .paypal_button:hover {
        opacity: 0.9;
    }

    .logo {
        padding-right: var(--hundred);
    }

    .logo_back {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .contact_form {
        padding: var(--twenty) var(--twenty);
        padding-right: var(--threehundred);
        border-radius: var(--fifty);
    }

    nav {
        font-size: x-large;
    }
}