html {
    background: url(../images/alex-avalos-dnUNjIUCg5c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-color: #ddddc5;
    min-height: 100%;
}

h1, h2 {
    font-family: 'Lora', serif;
    font-size: medium;
}

p {
    font-family: 'DM Sans', sans-serif;
}

form {
    padding: 100px;
    color: #0000;
    display: flex;
    flex-direction: column;
}

.genre, .price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hobbs, .godzilla, .batman,
.toy-story, .addams, .sweetheart, .hollywood, .scream, .director_photo {
    max-width: 100px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.collections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cta {
    background-color: #611428;
    color: #ddddc5;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    max-width: 100px;
    text-decoration: none;
}

.logo {
    max-width: 150px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0%;
}

.allproducts {
    display: flex;
    flex-direction: row;
}

.director_photo {

}

.addams__specific {
    max-width: 50%;
    max-height: 50%;